<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                    ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
  <blockquote ng-show="product.reviews">
  <b>Stars: {{reviewCtrl.review.stars}}</b>
  {{reviewCtrl.review.body}}
  <cite class="clearfix">by:{{reviewCtrl.review.author}}</cite>
  </blockquote>
  <fieldset class="form-group">
    <select ng-model="reviewCtrl.review.stars" required>
      <option value="1">1 Star</option>
      <option value="2">2 Stars</option>
      <option value="3">3 Stars</option>
      <option value="4">4 Stars</option>
      <option value="5">5 Stars</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <textarea name="body" ng-model="reviewCtrl.review.body" required></textarea>
  </fieldset>

  <fieldset class="form-group">
    <label>by:</label>
    <input ng-model="reviewCtrl.review.author" type="email" required />

  </fieldset>
  <fieldset class="form-group">
    <div> reviewForm is {{reviewForm.$valid}} </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
  </fieldset>
</form>
